services:
  db:
    image: postgres:16
    container_name: inv_postgres
    environment:
      POSTGRES_DB: inventorydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - inv_pgdata:/var/lib/postgresql/data

volumes:
  inv_pgdata:
